<% @profiles.reverse.each do |profile|%>
  <div class="col-sm-3 p-3">
    <div class="bg-white avatar-border">
      <%= image_tag (profile.default_photo), class: 'mx-auto d-block' %>
    </div>
    <div class="p-3 bg-light-pink">
      <h2 class="text-orange"><%= profile.first_name %> <%= profile.last_name%></h2>
      <p class="text-light-orange line-limit" title="<%= profile.about_me %>"><%= profile.about_me %></p>
      <%= link_to profile_likes_path(profile), class: "card-info-user avatar-bordered", method: :post, remote: true do %>
        <% if profile.have_profile_likes?(current_user) %>
          <i class="far fa-heart text-dark fa-2x"></i>
        <% else %>
          <i class="fas fa-heart text-pink fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>