<%= simple_form_for @post do |f| %>
  <%= f.input :content %>
  <%= f.submit "Criar Poste", class: "btn btn-success" %>
<% end %>


<ul>
  <!-- TESTING LIKES POLYMORPHIC WOKRINGG -->
  <% @profiles.each do |profile|%>
  	<%= link_to "like", profile_likes_path(profile), method: :post %>
    <li>

          <% if profile.posts.any? %>
            POST: <%= profile.posts.last.content %>
            <%= link_to "like post", post_likes_path(profile.posts.last.id), method: :post %>
            <% profile.posts.last.likes.each do |post| %>
              <code>[<%= post.profile.last_name %>]</code>
            <% end %>
            <%= profile.posts.last.likes.count %>
          <% end %>


    </li>
  	<li><%= profile.likes.count %></li>
    <li><%= profile.first_name %> <%= profile.last_name%></li>
    <li><%= profile.religion.title if profile.religion %></li>
    <li><%= profile.gender%></li>
    <li><%= profile.date_of_birth%></li>
    <li><%= image_tag (profile.photo), class: 'avatar' %></li>
    <li><%= profile.occupation %></li>
    <li><%= profile.about_me %></li>
    <li><%= profile.user.email %></li>
    <% profile.likes.each do |like| %>
      <li><code>[<%= like.profile.first_name %>]</code></li>
    <% end %>
  <% end %>
</ul>