:user_id, :first_name, :last_name, :gender, :date_of_birth, :photo, :occupation, :about_me
<ul>
  <% @profiles.each do |profile|%>
    <li><%= profile.first_name %> <%= profile.last_name%></li>
    <li><%= profile.gender%></li>
    <li><%= profile.date_of_birth%></li>
    <li><%= image_tag (profile.photo), class: 'avatar' %></li>
    <li><%= profile.occupation %></li>
    <li><%= profile.about_me %></li>
    <li><%= profile.user.email %></li>
  <% end %>
</ul>