<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>
<%= simple_form_for @profile do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :gender, :collection => Profile::GENDER %>
	<%= f.input :date_of_birth, start_year: Date.today.year - 110, end_year: Date.today.year - 18 %>
	<%= f.input :photo %>
	<%= f.input :occupation %>
	<%= f.input :about_me %>
	<%= f.simple_fields_for :address do |p| %>
    <%= p.input :city %>
    <%= p.input :state %>
    <%= p.input :zip_code %>
    <%= p.input :country, :collection => Address::COUNTRY %>		
	<% end %>
	<%= f.submit %>
<% end %>